.git*            export-ignore
.hooks*          export-ignore
.codespellrc     export-ignore
.editorconfig    export-ignore

# Custom attribute to mark sources as using our C code style.
[attr]our-c-style  whitespace=tab-in-indent  format.clang-format=15

# Custom attribute to mark sources as generated.
# Do not perform whitespace checks.  Do not format.
[attr]generated  whitespace=-tab-in-indent,-indent-with-non-tab -format.clang-format

bootstrap        eol=lf zos-working-tree-encoding=IBM-1047
configure        eol=lf zos-working-tree-encoding=IBM-1047
*.[1-9]          eol=lf
*.bash           eol=lf zos-working-tree-encoding=IBM-1047
*.sh             eol=lf zos-working-tree-encoding=IBM-1047
*.sh.in          eol=lf zos-working-tree-encoding=IBM-1047

*.bat            eol=crlf
*.bat.in         eol=crlf
*.sln            eol=crlf
*.vcproj         eol=crlf

*.pfx            -text
*.png            -text
*.png.in         -text

*.c              our-c-style zos-working-tree-encoding=UTF-8
*.cc             our-c-style zos-working-tree-encoding=UTF-8
*.cpp            our-c-style zos-working-tree-encoding=UTF-8
*.cu             our-c-style zos-working-tree-encoding=UTF-8
*.cxx            our-c-style zos-working-tree-encoding=UTF-8
*.h              our-c-style zos-working-tree-encoding=UTF-8
*.hh             our-c-style zos-working-tree-encoding=UTF-8
*.hpp            our-c-style zos-working-tree-encoding=UTF-8
*.hxx            our-c-style zos-working-tree-encoding=UTF-8
*.notcu          our-c-style zos-working-tree-encoding=UTF-8
*.tcc            our-c-style zos-working-tree-encoding=UTF-8

*.cmake          whitespace=tab-in-indent zos-working-tree-encoding=IBM-1047
*.rst            whitespace=tab-in-indent conflict-marker-size=79
*.txt            whitespace=tab-in-indent zos-working-tree-encoding=IBM-1047
